/* -------- Basic Set-up -------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Montserrat, Arial, Helvetica;
    color: #2D2D2D;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(140.57deg, #74EBD5 0%, #FEB47B 100.01%);
}

.hero,
.section-break,
.who-are-we,
.list-box,
.upcoming-event,
footer,
.team,
.event {
    position: relative;
    top: 71px;
    animation: initial-opacity 1s ease;
}

/* -------- Nav Set-up -------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    animation: initial-opacity 1s ease;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    padding: 20px 80px;
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.25);
}

.nav-logo {
    background: url("./img/logo-nav-black.png");
    width: 150px;
    height: 31px;
    background-size: contain;
    margin-right: 20px;
}

.nav-list > ul{
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    animation: initial-opacity 2s ease;
}

.nav-a {
    position: relative;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #2d2d2d;
}

.nav-a::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff7e5f;
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.nav-a:hover::before {
    width: 100%;
    transition: 0.4s ease-out;
}

/* -------- Nav Mobile -------- */

.mobile-nav {
    background-color: #fafafa;
    height: 65px;
    display: none;
}

.mobile-nav-container {
    position: relative;
}

.mobile-nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/logo-main-horizontal.png');
    background-size: cover;
    position: absolute;
    right: 25px;
    top: 18px;
    width: 120px;
    height: 30.5px;
}

.mobile-nav-logo > a {
    width: 120px;
    height: 32px;
}
  
#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
  
#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
  
#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #2d2d2d;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}
  
#menuToggle span:first-child {
    transform-origin: 0% 0%;
}
  
#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}
  
#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #2d2d2d;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
  
#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    width: 485px;
    height: 1000px;
    margin: -50px 0 0 -50px;
    padding-top: 88px;
    background-color: #fafafa;
    box-shadow: 0 0 10px #85888C;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.8s ease-in-out;
}

#menuToggle input:checked ~ ul {
    transform: none;
}
  
#menu li {
    list-style: none;
    padding: 20px 50px;
    transition-delay: 2s;
    border-bottom: 3px solid #eeeeee;
}

.nav-b {
    position: relative;
    text-decoration: none;
    font-size: 1.563rem;
    font-weight: 800;
    color: #2d2d2d;
}


/* -------- Hero Set-up-------- */

.hero {
    z-index: 98;
    padding: 40px 40px 40px;
    animation: initial-opacity 2s ease;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background: url('./img/background-train.png');
    background-size: 100%;
    border-radius: 20px;
    padding: 5.73vw;
}

.btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button{
    font-size: 0.75rem;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 8px 12px;
    color: #fafafa;
    text-align: center;
}

.button:hover {
    color: #2d2d2d;
    background-color: #fafafa;
    font-weight: 500;
    transition-duration: 0.2s;
}

.greeting {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.greeting > h1 {
    position: relative;
    display: inline;
    font-size: 16vmin;
    color: #fafafa;
    

/* color animation */
/*
    background-image: linear-gradient(-225deg, #74EBD5 0%, #ACB6E5 29%, #FF7E5F 67%, #FEB47B 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: textclip;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
*/
}

/* -------- Who Are We Set-up -------- */

.who-are-we {
    padding: 10px 40px 0;
}

.who-are-we-container {
    padding: 50px;
    background-color: #fafafa;
    border-radius: 15px;
}


.who-are-we-container > p {
    margin-top: 15px;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 500;
    color: #2d2d2d;
    animation: initial-slideUp 1s ease;
}

/* -------- List Box Set-up -------- */

.list-box-container {
    padding: 20px 40px 10px;
    display: flex;
    gap: 20px;
}

.list-box-left,
.list-box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 60px;
    background-color: #fafafa;
    border-radius: 15px;
    min-height: 350px;
    width: 100%;
}

.list-box-left > p,
.list-box-right > p {
    color: #2d2d2d;
    font-size: 1.75rem;
    font-weight: 700;
}

.list-box-explore > a {
    position: relative;
    z-index: 51;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #2d2d2d;
    padding: 10px 30px;
    background-color: #fafafa;
    border: 1.5px solid #2d2d2d;
    border-radius: 15px;
}

.list-box-explore > a:hover {
    background-color: #f0f0f0;
}

.list-box-explore > a::before {
    opacity: 0;
    z-index: -1;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1.5px solid #2d2d2d;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(140.57deg, #74EBD5 0%, #FEB47B 100.01%);;
}

.list-box-explore > a:hover::before {
    opacity: 1;
    transform: translate(5%, 10%);
    transition: all 0.25s ease;
}

/* -------- Upcoming Event Set-up -------- */

.upcoming-event {
    padding: 40px;
    background-color: #fafafa;
}

.upcoming-event-container > h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2d2d2d;
}

.event-index {
    background-color: #f5f5f5;
    display: flex;
    border-radius: 15px;
    margin: 32px 0;
    animation: initial-slideUp-2 1s ease-out;
}

.event-index:hover {
    transition: 0.5s ease;
    background-color: #fafafa;
    transform: scale(1.01);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
}

.event-index > .event-left {
    background-color: #FEB47B;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAFAFA;
    text-align: center;
    font-weight: 700;
    border-radius: 15px 0 0 15px;
}

.event-left > .event-date > .date {
    font-size: 3rem;
}

.event-left > .event-date > .month {
    font-size: 1.2rem;
    font-weight: 600;
}

.event-index > .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.8rem;
}

.event-index > .event-right > .event-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.event-bottom {
    font-size: .875rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.event-timing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74EBD5;
    width: 113px;
    padding: 10px;
    border-radius: 20px;
}

.event-timing > img {
    margin-right: 7px;
    width: 15px;
    height: 15px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #74EBD5;
}


.detail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border: 1.5px solid #2d2d2d;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #2d2d2d;
}

.detail-link:hover {
    background-color: #2d2d2d;
    color: #fafafa;
    cursor: url('./img/instagram-icon.svg'), auto;
    transition-duration: 0.2s;
}

/* -------- Footer Set-up -------- */

footer {
    padding: 80px 60px;
    background-color: #2D2D2D;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #fafafa;
}

.left-footer-container {
    display: flex;
    flex-direction: column;
}

.left-footer-container > img {
    width: 136px;
    margin-bottom: 30px;
}

.left-footer-container > .official-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.left-footer-container > .official-address {
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    margin-top: 6px;
    width: 90%;
}

.footer-credit {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 20px;
    font-style: italic;
}

.right-footer-container {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    flex-direction: column;
    margin: 1vw 5vw 1vw 0.8vw;

}

.email-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fafafa;
    color: #2d2d2d;
    padding: 10px 15px;
    border-radius: 15px;
}

.email-footer > .email-icon > img {
    width: 25px;
}

.email-footer > p {
    font-size: 13.9px;
    font-weight: 700;
}

.social-link-footer {
    display: flex;
    gap: 10px;
}

.footer-ig {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 15px;
    border-radius: 15px;
    color: #2d2d2d;
}

.footer-ig > img {
    width: 25px;
}

.footer-ig > .ig-account,
.footer-line > .line-account {
    font-size: 14px;
    font-weight: 700;
}


.footer-line {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 15px;
    color: #2d2d2d;
}

.footer-line > img {
    width: 27px;
}


/* --------------------------------------------------------------- */
/* ----------- Team Page -------------- */

/* ----------- Team Set-up -------------- */
.team {
    z-index: 96;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.dept-boxes-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dept-boxes-container > h1 {
    font-size: 3rem;
    color: #2d2d2d;
    margin-bottom: 50px;
}

.boxes-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA50;
    padding: 40px;
    border-radius: 15px;
}

/*  Area Adjustment  */

.president-area {
    margin: 0 auto 25px;
    animation: initial-slideUp 0.75s ease-out;
}

.the-rest-dept-area {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    animation: initial-slideUp 0.75s ease-out;
}

/*  z-index Adjustment  */

.card-1 {
    z-index: 85;
}

.card-2 {
    z-index: 84;
}
.card-3 {
    z-index: 83;
}
.card-4 {
    z-index: 82;
}
.card-5 {
    z-index: 81;
}

.card-6 {
    z-index: 80;
}

.card-7 {
    z-index: 79;
}

.card-8 {
    z-index: 78;
}

.card-9 {
    z-index: 77;
}

.card-10 {
    z-index: 76;
}

.card-11 {
    z-index: 75;
}

.card-12 {
    z-index: 74;
}

.card-13 {
    z-index: 73;
}

.card-14 {
    z-index: 72;
}

/*  ---  */

.card-container {
    position: relative;
    width: 100%;
    height: 285px;
    min-width: 250px;
    max-width: 300px;
}

.card {
    width: 100%;
    height: 100%;
}

.card-profile-1 {
    position: relative;
    background: url('./img/ohm-profile.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
    z-index: 95;
    width: 100%;
    height: 200px;

}

.card > .content {
    height: 85px;
    border-radius: 0 0 15px 15px;
    display: flex;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: column;
    color: #2d2d2d;
    z-index: 97;
    overflow: hidden;
    transition: 750ms ease;
}

.card > .content > .visible {
    padding: 15px;
    background-color: #fafafa;
    position: relative;
    z-index: 97;
    border-radius: 0 0 15px 15px;
    transition: 750ms ease;
}

.card > .content > .visible > h3 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
}

.card > .content > .visible > .dept-title {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}

.card > .content > .hidden {
    padding: 5px 20px 20px;
    background-color: #f0f0f0;
    border-radius: 0 0 15px 15px;
    transform: translateY(-100%);
    transition: 750ms ease;
    position: relative;
    z-index: 96;

}

.card > .content:hover {
    height: 353px;
}

.card > .content:hover > .visible {
    border-radius: 0;
}

.card > .content:hover > .hidden {
    transform: translateY(0);
}

.hidden > p {
    overflow-wrap: break-word;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.bold {
    font-weight: 700;
}

/*  Special Adjustment  */

.card-4 > .card > .content > .visible > h3 {
    font-size: 16px;
}

.card-8 > .card > .content > .visible > h3 {
    font-size: 15.5px;
}

.card-10 > .card > .content > .visible > h3 {
    font-size: 15px;
}

.card-12 > .card > .content > .visible > h3 {
    font-size: 15px;
}

.card-13 > .card > .content > .visible > h3 {
    font-size: 15px;
}

.card-14 > .card > .content > .visible > h3 {
    font-size: 14px;
}

.card-8 > .card > .content > .visible > .dept-title {
    font-size: 16px;
}

.card-10 > .card > .content > .visible > .dept-title {
    font-size: 16px;
}

.card-9 > .card > .content > .visible > .dept-title {
    font-size: 14px;
    font-weight: 600;
}

.card-11 > .card > .content > .visible > .dept-title {
    font-size: 14px;
    font-weight: 600;
}

/* --------------------------------------------------------------- */
/* ----------- Event Page -------------- */

.event {
    padding: 80px;
}

.upcoming-event-main-container {
    background-color: #fafafa;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
    animation: initial-slideUp-2 1s ease;
}

.collection-activities-container {
    background-color: #fafafa;
    padding: 40px;
    border-radius: 15px;
}

.ca-box {
    background-color: #f0f0f0;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    margin: 32px 0;
}

.ca-box-left {
    padding: 20px 10px 20px 20px;
}

.ca-box-left > img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.ca-box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px 40px 10px;
}

.ca-box-right-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ca-box-right-bottom {
    display: flex;
    gap: 10px;
}

.ca-box-right-bottom > p,
.ca-box-right-bottom > a {
    text-decoration: none;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 8px 25px;
    border: 1px solid #FEB47B;
    border-radius: 15px;
}

.ca-box-right-bottom > a:hover {
    background-color: #FEB47B;
    color: #fafafa;
    transition: 0.2s ease;
}


/* -------- Special Set-up -------- */

/* Topic Title */
.topic-title {
    position: relative;
    display: inline;
    font-size: 1.875rem;
    color: #2d2d2d;
    font-weight: 700;

    background-image: linear-gradient(-225deg, #FEB47B 100%, #ACB6E5 29%, #FF7E5F 67%,  #74EBD5 0%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 100% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: textclip;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    animation: initial-slideUp 1s ease;
}

/* Line Break */
.section-break-container-1 {
    padding: 10px 0;
    display: flex;
    gap: 7px;
    animation: initial-slideRight 2s ease-in;
}

.section-break-container-2 {
    padding: 10px 0px 30px;
    display: flex;
    justify-content: flex-end;
    gap: 7px;
}

.section-break-line-1 {
    width: 40px;
    height: 8px;
    background-color: #fafafa80;
    border-radius: 15px;
}

.section-break-line-2 {
    width: 90px;
    height: 8px;
    background-color: #fafafa80;
    border-radius: 15px;
}

.section-break-line-3 {
    width: 300px;
    height: 8px;
    background-color: #fafafa80;
    border-radius: 15px;
}

/* Cloud */
.cloud-bg {
    position: relative;
    float: right;
    right: 200px;
    top: -30px;
    width: 80px;
}

.cloud {
	width: 200px; height: 50px;
	background: rgba(235, 245, 239, 1);
	border-radius: 100px;
	position: absolute;
    z-index: 95;
	margin: 120px auto 20px;
    
    animation: initial-opacity 2s ease-in;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: rgba(235, 245, 239, 1);
	z-index: -1
}

.cloud:after {
	width: 70px; height: 70px;
	top: -30px; left: 30px;
	border-radius: 100px;
}

.cloud:before {
	width: 100px; height: 100px;
	top: -50px; right: 30px;
	border-radius: 200px;
}

/* -------- Animation Set-up -------- */

@keyframes initial-opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes initial-slideUp {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes initial-slideUp-2 {
    0% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes initial-slideRight {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.fade-in {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(20%);

}

.fade-in.appear {
    opacity: 1;
    transform: translateY(0);
}
