* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    animation: initial-opacity 0.5s ease-in-out;
}

body {
    font-family: Montserrat, Arial, Helvetica;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(140.57deg, #74EBD5 0%, #FEB47B 100.01%);
}

/* ----------- Nav Section -------------- */

.nav-container {
    background-color: #2d2d2d;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-around;
    padding: 25px 60px;
    z-index: 99;
}

.nav-logo {
    background-image: url("./img/logo-nav.png");
    width: 163px;
    height: 32.6px;
    background-size: cover;
}

.nav-list > ul {
    display: flex;
    list-style: none;
}

.nav-a {
    position: relative;
    margin-left: 20px;
}

.nav-a > a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
    
}

.nav-link::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fafafa;
    border-radius: 4px;
    scale: 0.1;
    transform-origin: left;
    transition: scale 0.25s;
}

.nav-link:hover::before {
    scale: 1;
}

/* ----------- Movile Nav Section -------------- */

@media only screen and (min-width: 415px) {
    .nav-mobile-contianer {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .nav-container {
        display: none;
    }


    .topnav {
        position: relative;
        z-index: 100;
    }
    

    .topnav #myLinks {
        position: absolute;
        top: 65px;
        width: 100%;
        display: none;
        background-color: #333;
        border: 1px solid #2d2d2d;
    }
    
    .topnav a {
        color: #2d2d2d;
        padding: 25px 30px;
        font-size: 25px;
        display: block;
    }
    .topnav a.nav-b {
        color: #fafafa;
        padding: 20px 30px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        display: block;
        border-bottom: 2px solid #2d2d2d;
    }
    
    .topnav a.icon {
        display: block;
        z-index: 99;
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px 30px;
    }
    
    .active {
        position: relative;
        z-index: 99;
        background-color: #fafafa;
        color: #fafafa;
    }
}

/* ----------- Hero Section -------------- */

.hero {
    position: relative;
    z-index: 98;
    top: 82.6px;
    padding: 40px;
}

.hero-container {
    background-color: #2D2D2D;
    border-radius: 20px;
    padding: 8.84vw 15.98vw 8.11vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 
        initial-slideDown 0.6s ease-in-out, 
        initial-opacity 0.75s ease-in;
}

/*
.hero-container:hover {
    background-color: #fff;
    transition-duration: 30s;
}
*/

.btn {
    display: flex;
    justify-content: center;
    width: 19vmin;
    min-width: 20vmin;
}

.button{
    font-size: 1.3vmin;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 8px 12px;
    color: #fafafa;
    background-color: #2D2D2D;
    text-align: center;
    width: 100%;
}

.button:hover {
    padding: 8px 10px;
    color: #2d2d2d;
    background-color: #fafafa;
    font-weight: 600;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    transition-duration: 0.2s;
}

.greeting {
    display: block;
    text-align: center;
    margin: 30px 0;
    width: 80vw;
}

.greeting > h1 {
    font-size: 14vmin;
    background-image: linear-gradient(-225deg, #74EBD5 0%, #ACB6E5 29%, #FF7E5F 67%, #FEB47B 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: textclip;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.hero-container > p {
    display: block;
    font-size: 3vmin;
    color: #fafafa;
    text-align: center;
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #2D2D2D;
    border-radius: 15px;
}

/* -------------- Who We Are Section -------------- */

/*
.hwr {
    position: relative;
    top: 82.6px;
}

.hwr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 150px;

}

.hwr-text {
    margin-right: 10px;
    padding-right: 5rem;
    width: 100%;
}

.hwr-text > h2 {
    font-size: 5vmin;
    margin-bottom: 1.1rem;
    color: #2D2D2D;
}

.hwr-text > p {
    font-size: 2vmin;
    font-weight: 500;
    color: #2d2d2d;
    line-height: 30px;

}

.hwr-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
}

.hwr-img {
    width: 100%;
    border-radius: 10px;
}

.grid-row-span-2 {
    grid-row: span 2;
}
*/

.boxes {
    position: relative;
    top: 82.6px;
    padding: 0 40px 40px;
}

.boxes-container {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    gap: 40px;
    animation: 
        initial-slideDown 0.6s ease-in-out, 
        initial-opacity 0.75s ease-in;
}

.box-one-container,
.box-two-container {
    padding: 90px 4vw;
    background-color: #fafafa;
    border-radius: 20px;
}

.box-one-container:hover,
.box-two-container:hover {
    background-color: #EFEFEF;
    transition: 2s;
}

.box-one-container > h2,
.box-two-container > h2 {
    font-size: 3vmin;
    margin-bottom: 3rem;
    max-width: 20rem;
    animation: initial-slideDown 0.8s ease-in-out;
}

.explore {
    position: relative;
    text-decoration: none;
    border: 2px solid #2d2d2d;
    padding: 10px 40px;
    border-radius: 15px;
    color: #2d2d2d;
    font-weight: 500;
    background-color: #fafafa;
}

.explore:hover {
    text-decoration: none;
    border: 3px solid #2d2d2d;
    padding: 10px 40px;
    border-radius: 15px;
    font-weight: 700;
    color: #2d2d2d;
    transition-duration: 0.2s;
}

.explore-btn {
    position: relative;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.explore-btn-hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1.5px solid transparent;
    border-radius: 15px;
}

.explore-btn-hover:hover::before {
    border: 2.5px solid #2d2d2d;
    transform: translate(8%, 10%);
    transition: all 0.2s ease;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), linear-gradient(140.57deg, #74EBD5 0%, #FEB47B 100.01%);
}

/* -------------- News Section -------------- */

.news {
    position: relative;
    top: 82.6px;
    padding: 60px 0;
    background-color: #FAFAFA;
    border-top: 4px solid #2d2d2d;
    border-bottom: 4px solid #2d2d2d;
}

.news-container > h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #2d2d2d;
    padding-left: 40px;
}

.news-boxes-container {
    width: 100%;
}

.news-boxes {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 20px 20px;

}

.news-boxes::-webkit-scrollbar{
    display: none;
  }

.news-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-width: 250px;
    min-height: 250px;
    max-width: 200px;
    max-width: 200px;
    margin-left: 20px;
    border-left: 3px solid #2d2d2d;
    border-right: 3px solid #2d2d2d;
    border-top: 3px solid #2d2d2d;
    border-bottom: 3px solid #2d2d2d;
    border-radius: 15px;
    padding: 30px 20px 20px;
}

.news-content:hover {
    border-bottom: 60px solid #2d2d2d;
    transition: 0.2s;

}

.news-heading {
    text-decoration: none;
    color: #fafafa;
    font-weight: 600;
}


/* -------------- Blog Edit Section -------------- */

.news-box-one > .news-content {
    background: linear-gradient(0deg, rgba(45, 45, 45, 0.5), rgba(255, 255, 255, 0.4)), url('./img/hwr-img\ 1.png');
    background-size: cover;
}

/* -------------- Calendar Section -------------- */

.calendar {
    position: relative;
    top: 82.6px;
    padding: 40px;
}

.calendar-container > h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #2d2d2d;
}

.event {
    background-color: #FAFAFA;
    display: flex;
    border-radius: 15px;
    margin: 32px 0;
}

.event:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.1s ease;
    background-color: #f5f5f5;
    transform: scale(1.02);
}

.event > .event-left {
    background-color: #2D2D2D;
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FAFAFA;
    text-align: center;
    font-weight: 700;
    border-radius: 15px 0 0 15px;
}

.event-left > .event-date > .date {
    font-size: 3rem;
}

.event-left > .event-date > .month {
    font-size: 1.2rem;
    font-weight: 600;
}

.event > .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.8rem;
}

.event > .event-right > .event-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.event-bottom {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.event-timing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74EBD5;
    width: 113px;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.event-timing > img {
    margin-right: 7px;
    width: 15px;
    height: 15px;
}

.event-timing > p {
    font-size: 1rem;
}

.detail-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    border: 1.5px solid #2d2d2d;
    border-radius: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #2d2d2d;
}

.detail-link:hover {
    background-color: #2d2d2d;
    color: #fafafa;
    cursor: url('./img/instagram-icon.svg'), auto;
    transition-duration: 0.2s;
}

/* -------------- Footer Section -------------- */

footer {
    position: relative;
    top: 82.6px;
    padding: 30px 40px;
    background-color: #2D2D2D;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container > p {
    font-size: 1rem;
    color: #FAFAFA;
    font-weight: 400;
}

.footer-container > .footer-credit {
    font-size: 0.85rem;
    font-weight: 400;
}

/* -------- Resposive Adjustment ---------- */

@media only screen and (max-width: 850px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-container > p:nth-child(1) {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 755px) {
    .explore {
        padding: 7px 25px;
    }
    
    .explore:hover {
        padding: 7px 25px;
    }
    
    .explore-btn {
        width: 110px;
        height: 35px;
    
    }
}

@media only screen and (max-width: 645px) {
    .boxes-container {
        display: grid;
        grid-template-columns: repeat(1, 6fr);
        gap: 20px;
    }
    .box-one-container,
    .box-two-container {
        padding: 50px 6vw;
    }

    .box-one-container > h2,
    .box-two-container > h2 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 517px) {
    .event {
        flex-direction: column;
    }

    .event > .event-left {
        border-radius: 15px 15px 0 0;
        padding: 20px 0;
    }
}

@media only screen and (max-width: 475px) {
    .nav-container {
        padding: 25px 30px;
    }
    .nav-logo {
        width: 111px;
        height: 22.2px;        
    }

    .nav-a > a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 456px) {
    .box-one-container > h2,
    .box-two-container > h2 {
        font-size: 1.2rem;
    }

    .explore {
        padding: 4px 15px;
        font-size: 1rem;
        border-radius: 11px;
    }
    
    .explore:hover {
        padding: 4px 15px;
        border-radius: 11px;
    }
    
    .explore-btn {
        width: 93px;
        height: 30px;
    }

    .explore-btn-hover::before {
        border-radius: 11px;
    }
}

@media only screen and (max-width: 414px) {
    .nav-container {
        background-color: transparent;
        position: relative;
    }
    
    .nav-logo {
        background-image: url("./img/logo-nav-black.png");
        width: 163px;
        height: 32.6px;
        background-size: cover;
    }

    .nav-list {
        justify-content: space-between;
    }

    .nav-logo {
        width: 111px;
        height: 22.2px;        
    }

    .nav-a > a {
        color: #2d2d2d;
        margin-left: 15px;
    }

    .hero {
        top: 0;
        padding: 0;
    }

    .hero-container {
        border-radius: 0;
    }

    .btn {
        width: 25vmin;
    }

    .button{
        font-size: 1.8vmin;
    }
    
    .button:hover {
        font-size: 1.8vmin;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 15px;
        padding: 8px 12px;
        color: #fafafa;
        background-color: #2D2D2D;
        text-align: center;
        width: 100%;
    }

    .explore-btn-hover:hover::before {
        display: none;
    }

    .boxes,
    .news,
    .calendar,
    footer {
        top: 0;
    }

    .boxes {
        padding: 40px;
    }

    .news-container > h2,
    .calendar-container > h2 {
        font-size: 1.4rem;
    }

    .event-bottom {
        justify-content: flex-start;
    }
    
    .event-timing {
        width: 98px;
    }
    
    .event-timing > img {
        margin-right: 5px;
        width: 12px;
        height: 12px;
    }
    
    .event-timing > p {
        font-size: 0.8rem;
    }
    
    .detail-link {
        font-size: 0.8rem;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container > p {
        font-size: 0.7rem;
    }

    .footer-container > .footer-credit {
        font-size: 0.65rem;
    }

}

@media only screen and (max-width: 280px) {
    .nav-logo {
        background-image: url("./img/logo-nav-black.png");
        width: 89px;
        height: 17.8px;
        background-size: cover;
    }

    .nav-a > a {
        margin-left: 10px;
    }

    .nav-a:nth-child(1) {
        display: none;
    }

    .btn {
        width: 35vmin;
    }

    .button,
    .button:hover {
        font-size: 2.5vmin;
    }

    .greeting {
        margin: 20px 0;
        width: 80vw;
    }

    .hero-container > p {
        font-size: 4vmin;
    }

    .boxes {
        padding: 20px;
    }

    .box-one-container,
    .box-two-container {
        padding: 60px 7vw;
    }

    .box-one-container > h2,
    .box-two-container > h2 {
        margin-bottom: 2rem;
    }

    .news {
        padding: 30px 0;
    }

    .news-container > h2 {
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 10px;
        padding: 0;
    }

    .calendar {
        padding: 30px;
    }
    
    .calendar-container > h2 {
        font-size: 1.1rem;
        padding: 0;
        text-align: center;
    }
    .event {
        margin: 30px 0;
    }

    .event-left > .event-date > .date {
        font-size: 2rem;
    }
    
    .event-left > .event-date > .month {
        font-size: 1rem;
    }
    
    .event > .event-right > .event-title {
        font-size: 1rem;
    }

    .event > .event-right > .event-des {
        font-size: 0.8rem;
    }

    .event-bottom {
        display: block;
    }
    
    .event-timing {
        width: 100%;
        margin-bottom: 5px;
    }
    
    .event-timing > img {
        margin-right: 4px;
        width: 10px;
        height: 10px;
    }
    
    .event-timing > p {
        font-size: 0.8rem;
    }
    
    .detail-link {
        font-size: 0.8rem;
        font-weight: 500;
    }

    .footer-container > p {
        font-size: 0.7rem;
    }

    .footer-container > .footer-credit {
        font-size: 0.6rem;
    }
}

/* ------------ Animations ------------ */

@keyframes initial-slideDown {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes initial-opacity {
    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes textclip {
    to {
      background-position: center;
    }
}
  
@keyframes transitionIn {
    0% {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
