* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    animation: initial-opacity 0.5s ease-in-out;
}

body {
    font-family: Montserrat, Arial, Helvetica;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(140.57deg, #ACB6E5 0%, #FEB47B 100.01%);
}

/* ----------- Nav Section -------------- */

.nav-container {
    background-color: #2d2d2d;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-around;
    padding: 25px 60px;
    z-index: 99;
}

.nav-logo {
    background-image: url('./img/logo-nav.png');
    width: 163px;
    height: 32.6px;
    background-size: cover;
}

.nav-list > ul {
    display: flex;
    list-style: none;
}

.nav-a {
    position: relative;
    margin-left: 20px;
}

.nav-a > a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 700;
}

.nav-link::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fafafa;
    border-radius: 4px;
    scale: 0.1;
    transform-origin: left;
    transition: scale 0.25s;
}

.nav-link:hover::before {
    scale: 1;
}

/* ----------- Movile Nav Section -------------- */

@media only screen and (min-width: 415px) {
    .nav-mobile-contianer {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .nav-container {
        display: none;
    }


    .topnav {
        position: relative;
        z-index: 100;
    }
    

    .topnav #myLinks {
        position: absolute;
        top: 65px;
        width: 100%;
        display: none;
        background-color: #333;
        border: 1px solid #2d2d2d;
    }
    
    .topnav a {
        color: #fafafa;
        padding: 25px 30px;
        font-size: 25px;
        display: block;
    }
    .topnav a.nav-b {
        color: #fafafa;
        padding: 20px 30px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        display: block;
        border-bottom: 2px solid #2d2d2d;
    }
    
    .topnav a.icon {
        display: block;
        z-index: 99;
        position: absolute;
        right: 0;
        top: 0;
        padding: 20px 30px;
    }
    
    .active {
        position: relative;
        z-index: 99;
        background-color: #2d2d2d;
    }
}


/* ----------- Team Section -------------- */
.team {
    position: relative;
    top: 82.6px;
    z-index: 96;
}

.team-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vw 5.27vw;
}

.dept-boxes-container {
    min-height: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.dept-boxes-container > h1 {
    font-size: 6vw;
    color: #2d2d2d;
    margin-bottom: 30px;
}

/*
.grid-col-span-1 {
    grid-column: span 1;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-3 {
    grid-column: span 3;
}

.grid-col-span-4 {
    grid-column: span 4;
}

.grid-col-span-5 {
    grid-column: span 5;
}
*/

.dept-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    /*
    max-width: 65.2vw;
    */
    max-width: 1330px;
    width: 100%;
}

.dept-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 16rem;
    animation: 
        initial-slideDown 0.6s ease-in-out, 
        initial-opacity 0.75s ease-in;
}

.dept-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: #fafafa;
    color: #2d2d2d;
    font-weight: 600;
    font-size: 1rem;
}

.dept-link:hover {
    color: #fafafa;
    background-color: #2d2d2d;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.25);
    transform: scale(1.04);
    transition: all 0.2s ease;
}

footer {
    position: relative;
    top: 82.6px;
    width: 100%;
    padding: 30px 40px;
    background-color: #2D2D2D;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container > p {
    font-size: 1rem;
    color: #FAFAFA;
    font-weight: 400;
}

.footer-container > .footer-credit {
    font-size: 0.85rem;
    font-weight: 400;
}

/* -------- Resposive Adjustment ---------- */

@media only screen and (max-width: 1086px) {
    .dept-boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 850px) {

    .footer-container {
        flex-direction: column;
    }

    .footer-container > p:nth-child(1) {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 810px) {
    .dept-boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 564px) {
    .dept-boxes {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 475px) {
    .nav-container {
        padding: 25px 30px;
    }
    .nav-logo {
        width: 111px;
        height: 22.2px;        
    }

    .nav-a > a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 414px) {
    .nav-container {
        position: relative;
    }
    
    .nav-logo {
        width: 163px;
        height: 32.6px;
        background-size: cover;
    }

    .nav-list {
        justify-content: space-between;
    }

    .nav-logo {
        width: 111px;
        height: 22.2px;        
    }

    .nav-a > a {
        margin-left: 15px;
    }

    .team,
    footer {
        top: 0;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-container > p {
        font-size: 0.7rem;
    }

    .footer-container > .footer-credit {
        font-size: 0.65rem;
    }

}

@media only screen and (max-width: 280px) {
    .nav-logo {
        width: 89px;
        height: 17.8px;
        background-size: cover;
    }

    .nav-a > a {
        margin-left: 10px;
    }

    .nav-a:nth-child(1) {
        display: none;
    }

    .footer-container > p {
        font-size: 0.7rem;
    }

    .footer-container > .footer-credit {
        font-size: 0.6rem;
    }

}

/* ------------ Animations ------------ */

@keyframes initial-slideDown {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes initial-opacity {
    10% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}